.skills-main-div {
  display: flex;
}

.skills-text-div {
  margin-left: 50px;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 0px;
}

.skills-image-div > img {
  max-width: 100%;
  height: auto;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
}
.subTitle {
  color: #868e96;
}


/* Media Queries */
@media (max-width: 1440px) {
  .skills-image-div {
   display: flex;
   margin-top: 150px;
  }
  .skills-text {
    font-size: 14px;
    text-align: left;
  }
  
  
  .skills-text:nth-child(5), 
  .skills-text:nth-child(6),
  .skills-text:nth-child(7),
  .skills-text:nth-child(8)
  {
    display: none;
  }
}
/* next device 

@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}
*/ 

/* next device */

@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
    overflow: hidden;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
    display: flex;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
    margin-top: -50px;
    margin-bottom: -50px;
    
  }
}
